/src/*.ncrunchsolution
/src/Revise/bin/Debug

/src/Revise/obj/Debug/*.cache

/src/Revise/obj/Debug
/src/Revise.Test/bin/Debug
/src/Revise.Test/obj/Debug
/src/*.suo
/src/*.user
/src/Revise.Test/*.ncrunchproject
/src/Revise/*.ncrunchproject
/src/_NCrunch_Revise/*.cache
